header {
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  position: sticky;
  top: 0;
  z-index: 99;
}
header .inner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: var(--white);
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  font-size: 1.6em;
  font-family: var(--logo);
  font-weight: bold;
}
.gnb {
  display: flex;
}

.gnb li {
  margin-left: 23px;
  font-size: 1.4em;
  cursor: pointer;
}

.header_user {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 1px;
}

.gnb_active {
  border: 1.5px solid black;
}

.gnb_mypage {
  position: relative;
}
.sub_menu::before{
  content: '';
  position: absolute;
  display: block;
  top: -8px;
  right: 20px;
  height: 13px;
  width: 20px;
  border-radius: 10px 10px 0 0;
  background: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sub_menu {
  display: block;
  position: absolute;
  top: 40px;
  right: -15px;
  width: 230px;
  background: var(--white);
  padding: 10px 0;
  font-size: 10px;
  z-index: 9;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.sub_menu li a {
  display: block;
  padding: 10px 0;
}
.sub_menu li a i {
  margin-right: 5px;
}

.sub_menu li:last-child {
  border-top: 1px solid var(--grey);
}
/* ---------- main ---------- */
.main {
  width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ---------- story ---------- */
.story {
  padding: 25px 0 15px;
}
.story .inner {
  position: relative;
}
.story_list {
  display: flex;
  justify-content: wrap;
  border: 1px solid var(--grey);
  border-radius: 10px;
  background: var(--white);
  padding: 20px 20px 15px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.story_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.story_list li img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: black;
  margin-bottom: 8px;
}
.story_list li span {
  font-size: 0.8em;
  font-weight: 500;
}

.story .inner i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 1.7em;
  text-shadow:0px 0px 5px rgba(0,0,0,.1);
  cursor: pointer;
}

.story .inner .prev {
  left: 40px;
}
.story .inner .next {
  right: 40px;
}

/* pids */
.pid_item {
  border-radius: 10px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  margin-bottom: 10px;
}

.pid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.profile {
}
.profile img {
  border: 1px solid var(--grey-light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.user_id {
  font-size: 0.9em;
  font-weight: bold;
}

.pid_header i {
  cursor: pointer;
  font-size: 1.1em;
}

.pid_img_wrap {
  position: relative;
}
.pid_img {
  overflow: hidden;
  scroll-behavior: smooth;
}

.pid_img_list {
  display: flex;
  flex-wrap: nowrap;
  height: 500px;
}

.content {
  width: 468px;  
}

.pid_img_wrap i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 1.5em;
  text-shadow:0px 0px 5px rgba(0,0,0,.3);
  cursor: pointer;
  opacity: .6;
}

.img_prev {
  left: 10px;
}

.img_next {
  right: 10px;
}

.pid_btns {
  padding: 10px 15px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.pid_btns li i {
  margin-right: 15px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.pid_btns li i:active {
  transform: scale(1.2);
}
.active {
  color: var(--red);
}

.pid_content {
  padding: 0 15px 15px;
  display: flex;
  flex-direction: column;
}

.like {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.pid_owner {
  margin-bottom: 10px;
}

.pid_owner strong {
  margin-right: 5px;
}

.comment {
  all: unset;
  font-size: 0.9em;
  color: var(--grey-dark);
  margin-bottom: 20px;
  cursor: pointer;
}

.upload {
  color: var(--grey-dark);
  font-size: 0.7em;
  padding-bottom: 10px;
}

.comment_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid var(--grey-light);
}

.comment_form i {
  font-size: 1.5em;
  margin-right: 15px;
  cursor: pointer;
}
.comment_form input {
  border: none;
  flex-grow: 1;
}
.comment_form input:focus {
  outline: none;
}
.comment_form button {
  all: unset;
  color: var(--blue);
  cursor: pointer;
  opacity: .4;
}

.user_comments {
  border-top: 1px solid var(--grey-light);
  padding-top: 15px;
}

.user_comment_list {
  display: flex;
  justify-content: space-between;
}
.user_comment {
  flex-grow: 1;
  padding-top: 3px;
  padding-left: 10px;
}
.user_text {
  font-size: 0.9em;
}
.comment_info {
  margin-top: 20px;
  font-size: 0.8em;
  color: var(--grey-dark);
}

.comment_info span {
  margin-right: 15px;
}

.comment_like,
.comment_comment {
  cursor: pointer;
}

/* classList */
.hidden {
  display: none;
}

.btn_active {
  opacity: 1 !important;
}
