@charset "utf-8";
@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

body, input, button {
  font-family: 'LeferiPoint-WhiteObliqueA';
}

/* 공통 */
.hidden {
  display: none;
}

/* login-wrap */
.login-wrap {
  background: url('../images/0.jpg');
}

.login-wrap .inner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  padding: 100px 150px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #333;
  text-align: center;
}

.login-form input:focus {
  outline: none;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.login-form button {
  display: block;
  width: 80%;
  height: 35px;
  margin-top: 20px;
  color: #fff;
  background: #333;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.login-form button:hover {
  background: tomato;
}

/* wrap */
.wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url('../images/1.jpg');
}
.wrap .inner {
  position: relative;
  height: 90vh;
  width: 80vw;
  max-width: 1000px;
  margin: 30px auto 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.now-info {
  position: absolute;
  left: 0;
  top: -25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.now-weather {
  font-size: 0.8em;
  color: #fff;
  padding-left: 10px;
}

.now-time {
  font-weight: 700;
  color: #fff;
  padding-right: 10px;
}

.day {
  position: relative;
  padding-right: 14px;
  margin-right: 10px;
  letter-spacing: 1.2px;
}

.day::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(15deg);
  width: 1px;
  height: 13px;
  background: #fff;
}

.clock {
  letter-spacing: 2.5px;
}

.user-info {
  display: flex;
  margin: 0 2%;
  padding: 20px 30px 10px;
  border-bottom: 2px solid #333;
  justify-content: space-between;
}
.user-info h1 {
  word-break: keep-all;
}
.user-info button {
  width: 100px;
  height: 35px;
  color: #fff;
  background: #333;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.user-info button:hover {
  background: tomato;
}

/* 오늘의 명언 */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.content-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #333;
  padding: 15px 0;
  width: 95%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-right: 1px solid #eee;
}
.quote p {
  word-break: keep-all;
  margin-bottom: 10px;
}

.quote span {
  font-size: 0.8em;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.link li {}
.link li a {}
.link li a:hover {
  color: tomato;
}


/* todo list */
.todo {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo h2 {
  padding-bottom: 10px;
}
.todo-form {
  display: flex;
  padding-bottom: 15px;
}
.todo-form input {
  width: 40vw;
  border: 0;
  background: #eee;
  height: 40px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  font-size: 1.2em;

  /* 커서 깜박임 없애기 */
  color: transparent;
  text-shadow: 0 0 0 #333;
}

.todo-form input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.1);
}


.todo-form button {
  height: 40px;
  width: 40px;
  border-radius: 0 20px 20px 0;
  border: 0;
  background: #333;
  color: #fff;
  font-size: 2em;
  line-height: 45px;
  padding-right: 3px;
  cursor: pointer;
}

.todo-form button:hover {
  background: tomato;
}

.todo-list li {
  display: block;
  width: 40vw;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.todo-list li input {
}
.todo-list li span {
}
.todo-list li button {
  float: right;
  width: 20px;
  height: 20px;
  background: tomato;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 3px;
}

