@charset "utf-8";
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: center;
  border: 0;
}

html {}

body {
  background: #d8d8bc;
  font-family: Galmuri11;
}

/* common */
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input,
button {
  font-family: Galmuri11;
}

/* print routine */
.print-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hidden {
  display: none;
}

.print-list h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 3px dashed #333;
  margin-bottom: 15px;
}

.title,
.total-time,
.routine-list li {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.title {
  border-bottom: 2px dashed #333;
}

.routine-list {
  width: 100%;
  background: #eee;
}

.routine-list li {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.routine-list li:last-child {
  border-bottom: 0;
}

.total-time {
  border-top: 2px dashed #333;
  margin-bottom: 20px;
}

.save {
  all: unset;
  background: #ddd;
  padding: 15px 20px;
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: 600;
}

/* machine */
.machine {
  position: relative;
  display: grid;
  grid-template-rows: 0.4fr 3fr 1fr;
  grid-template-columns: 275px 150px;
  gap: 15px;
  padding: 50px 20px;
  width: 480px;
  min-height: 700px;
  background: #bcb486;
  border-radius: 10px;
  overflow: hidden;
}

.machine::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  background: #bb8e7b;
}

.logo {
  grid-column: span 2;
  text-align: center;
  font-family: Galmuri11;
  letter-spacing: 8px;
  color: #bb8e7b;
  text-shadow: #1b3c4a 2.4px 2.5px 0;
}

/* display */
.display {
  background: #000010;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .2) 1px 2px 1px 0px inset;
}

.item {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 15px 0;
}

.item li {
  position: relative;
  width: calc(100% / 3);
  height: 100px;
  border-bottom: 10px solid #1b3c4a;
  padding: 10px 7px 0;
}

.item li span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #bb8e7b;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #1b3c4a;
  margin: 0 auto;
}

.item li input {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 20px;
  border: none;
  border-radius: 10px;
  background: #bb8e7b;
  font-family: Galmuri11;
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 11px;
  line-height: 22px;
  color: #1b3c4a;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.item li input:active {
  transform: translateX(-50%) scale(0.9);
}

/* input */
.input {
  padding: 20px 10px;
  background: #000010;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .2) 1px 2px 1px 0px;
}

/* status */
.status {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background: #888ED7;
  border: none;
  box-shadow: rgba(0, 0, 0, .2) 1px 2px 1px 0px inset;
  color: #000010;
}

.status p,
h2,
.status h3,
.time {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.status p {
  font-size: 9px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.status h3 {
  color: #493553;
}

.status .time {
  padding: 5px 0;
  font-size: 18px;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, .1);
}

/* button */
.setting {
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: 10px 25px 10px 25px 10px 25px;
  justify-content: center;
  gap: 10px;
}

.setting p {
  grid-column: span 3;
  text-align: center;
  font-size: 11px;
  color: #bb8e7b;
}

.setting input {
  border: none;
  border-radius: 5px;
  background: #bb8e7b;
  cursor: pointer;
  font-size: 10px;
  color: #1b3c4a;
}

/* status */
/* print */
.print {
  background: #bb8e7b;
  grid-column: span 2;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(169, 70, 144, 0.35) 0px -50px 36px -28px inset;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #bcb486;
}